* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Besley", serif;
    border: none;
    outline: none;
    transition: 0.2s linear all;
    text-decoration: none;
}
:root {
    --main: #2A629A;
    --box_shadow: 0.5rem 1rem 1.5rem rgba(0, 0, 0, 0.7);
    --border: 12px solid var(--main);
}
*::selection{
    background: var(--main);
    color: #000;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
section{
    padding: 2rem 7%;
}
.btn {
    display: inline-block;
    background: var(--main);
    cursor: pointer;
    color:#fff;
    padding: 0.9rem 3rem;
    margin-top: 1rem;
    font-size: 1.7rem;
    border-radius: 5px;
}
.btn:hover{
    letter-spacing: 0.2rem;
}
.heading{
    text-align: center;
    margin-top: 1em;
    font-size: 4rem;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
}
.heading span{
    color: var(--main);
}
html::-webkit-scrollbar{
    width: 10px;
}
html::-webkit-scrollbar-thumb{
    background: var(--main);
}
html::-webkit-scrollbar-track{
    background: #000;
}
/* Header Start  */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: var(--box_shadow);
    background-color: #000;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 9%;
    height: 10rem;
}
header .logo img {
    height: 6rem;
}
header .navbar a{
    color:#fff;
    margin-left: 2rem;
    font-size: 1.7rem;
}
header .navbar a:hover{
    color:var(--main);
}
#MenuBtn {
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}
/* Header End  */

/*  Home Section Starts  */
.home{
    margin-top: 10rem;
    margin-bottom: 40px;
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../images/back.jpg");
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    object-fit: cover;
}
.home .content{
    max-width: 60rem;
    color: #fff;
}
.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
}
.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    color: #ccc;
    line-height: 1.8;
    padding: 1rem 0;
    text-transform: uppercase;
}
/*  Home Section Ends    */

/* halls section*/
.halls {
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: 10px; 
}
.hall-desc ul{
    list-style:decimal;
}
.hall, .hall-desc {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: medium;
}

.hall {
    grid-column: 1;
    padding: 0;
}

.hall img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.hall-desc {
    grid-column: 2.5;
    color: var(--main);
    background:linear-gradient(to right, green , yellow); 
    box-shadow: inset 0 -10px 5px -5px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}
.hall-desc ul li{
    text-align: left;
}

@media (max-width: 768px) {
    .halls {
        grid-template-columns: auto; /* Reset columns to auto for smaller screens */
    }
}
/* halls section*/

/* About us section starts */
.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}
.about .row .img{
    flex: 1 1 35rem;
    padding: 1rem;
    margin-right: 0;
}
.about .row .content{
    flex: 1 1 45rem;
    box-shadow: var(--box_shadow);
    background-color: bisque;
    color: blueviolet;
    padding: 2em;
    border-top-left-radius: 10rem;
    border-top-right-radius: 10rem;
    text-align: center;
    /* border-radius: 5rem; */
    margin-left: 0;
}
.about img{
    border: var(--border);
    border-radius: 2;
    width: 100%;
    height:5%;
}

.about .row .content h3{
    font-size: 3.5rem;
}

.about .row .content p {
    line-height: 2;
    font-size: 1.5rem;
    padding: 1rem 0;
}
.row .img img {
    width: 45em;
    border-radius: 10px;
    border: none;
}
/* About us section ends */

/* service section start */
.services .boxContainer, .gallary .boxContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
}
.services .boxContainer .box{
    text-align: center;
    padding: 2.5rem;
    background: rgb(20, 19, 19);
    color: #fff;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: var(--box_shadow);
}
.services .boxContainer .box:hover i{
    transform: scale(1.5);
}
.services .boxContainer .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    border-radius: 50%;
    font-size: 2.5rem;
    background: var(--main);
}
.services .boxContainer .box h3{
    font-size: 2rem;
    padding: 1rem 0;
}
.services .boxContainer .box p{
    font-size: 1.4rem;
    line-height: 1.8;
    color: #eee;
} 
/* service section end  */

/* gallary section start */
.gallary .boxContainer .box{
    position: relative;
    border-radius: 15px;
    box-shadow: var(--box_shadow);
    border-radius: 0.5rem;
    height: 25rem;
    cursor: pointer;
    overflow: hidden;
}
.gallary img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallary .boxContainer .box h3{
    position: absolute;
    top: -10rem;
    left: 0;
    right: 0;
    background: var(--main);
    color: #fff;
    text-align: center;
    padding-bottom: 1rem;
    font-size: 2rem;
}
.gallary .boxContainer .box:hover h3{
    top: 0;
}
.gallary .boxContainer .box .icons{
    position: absolute;
    bottom: -10rem;
    left: 0;
    right: 0;
    background: var(--main);
    text-align: center;
    padding-top: 1rem;
}
.gallary .boxContainer .box:hover .icons{
    bottom: 0;
}
.gallary .boxContainer .box .icons i{
    font-size: 2rem;
    margin: 0.5rem 1rem;
    color: #fff;
}
.gallary .boxContainer .box .icons i:hover{
    color: #000;
}
/* gallary section end */



/* review section start */
.review .box{
    margin-left: 5px;
    border-radius: 15px;
    box-shadow: var(--box_shadow);
    border-radius: 0.5rem;
    background: #000;
    padding: 2rem;
    position: relative;
    color: #fff;
}
 .review .fa-quote-right{
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--main);
    font-size: 5rem;
}
.review .box .user{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
}
.review img{
    height: 7rem;
    width: 7rem;
    object-fit: cover;
    border-radius: 50%;
}
 
.review .box .user h3{
    font-size: 2rem;
}
.review .box .user span{
    font-size: 1.5rem;
    color: #eee;
}
.review .box p {
    line-height: 2;
    padding: 0.5rem 0;
    font-size: 1.6rem;
    color: #eee;
}

/* review section end */

/* contact form section start */
.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}
.contact .img{
    flex: 1 1 45rem;
    width: 20%;
    height: 20%;
}
.contact form{
    flex: 1 1 45rem;
    /* border: var(--border); */
    box-shadow: var(--box_shadow);
    padding: 2rem;
    text-align: center;
    border-radius: 0.5rem;
}
.contact form h3{
    font-size: 3rem;
    padding-bottom: 1rem;
}
.contact form .box{
    width: 100%;
    margin: 0.7rem 0;
    text-transform: none;
    padding: 1rem;
    font-size: 1.6rem;
    border:outset;
}

.contact form .junk-container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: baseline;
}
.contact form .junk-container label, h5{
    font-size: 2em;
    margin-left: 2px;
}
form i {
    font-size: 24px;
    margin-right: 10px;
}

form label {
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}
#register{
    width: 25em;
}

/* contact form section end */


/* footer section start  */
footer{
    background-color: #74512D;
    padding: 100px;
}

footer h6{
    font-weight: bold;
    color: aquamarine !important;
    font-size: medium;
    font-style: italic;
    margin-bottom: 30px !important;
}

footer span{
    font-weight: bold;
    color: #ccc !important;
    font-style: italic;
    font-size:small;
    font-size: 15px !important;
}

/* footer section end  */

/* Media Queries  */
@media (max-width: 991px) {
    html{
        font-size: 55%;
    }
}

@media (max-width: 768px) {
    #MenuBtn{
        display: initial;
    }
    img{
        width: 200px;
        height: 200px;
    }
    .fa-times{
        transform: rotate(180deg);
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border: 0.2rem solid #222;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        background: #000;
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        display: flex;
        background: #333;
        border-radius: 0.5rem;
        margin: 1.3rem;
        font-size: 2rem;
        padding: 1.3rem;
    }
    .home .content h3{
        font-size: 3.5rem;
    }
    .home .content p{
        font-size: 1.5rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
    img{
        width: 100px;
        height: 100px;
    }
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
}


