* {
    margin: 0;
    box-sizing: border-box;
    color: white;
}
body {
    background-image: url(../images/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back {
    height: max-content;
    width: max-content;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 2em;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input {
    outline-width: 0.5px;
    padding: 0.5em;
    text-align: center;
    font-size: medium;
    outline-style: inset;
    outline-color: rgb(0, 38, 255);
    color: brown;
    width: 16em;
    border: none;
    height: 2.5em;
    border-radius: 2.5em;
    display: block;
}
.btn {
    width: 12em;
    height: 2.5em;
    border-radius: 3.1em;
    color: red;
    background-color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin: auto;
    box-shadow: 0px 0px 30px red;
}
h2{
    text-align: center;
}
.back > p {
    width: 16em;
    text-align: center;
    margin-bottom: 2em;
}
p a {
    color: blue;
}
.icon {
    width: 3.2em;
    height: 3.2em;
}
.icon-container img:hover {
    border-radius: 3.2em;
    background-color: red;
}
.other-sign {
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register__form {
    display: none;
    margin-top: 6em;
}

.login__form .btn,
.register__form .btn {
    display: block;
    margin: 3em auto 0 auto; 
}

@media (max-width: 768px) {
    .back {
        padding: 1em;
    }
    .btn {
        border-radius: 3.1em;
    }
    .icon {
        width: 2.2em;
        height: 2.2em;
    }
    form {
        gap: 1em;
    }
    .other-sign {
        margin-top: 1.5em;
    }
}
@media (max-width: 425px) {
    .btn {
        margin-top: 1em;
        width: 7em;
        height: 1.5em;
    }
    input {
        padding: 0.2em;
        width: 15em;
        height: 1.5em;
        display: inline;
        font-size: smaller;
    }
    .email {
        margin-right: 1.4em;
    }
    #fullname {
        margin-right: 1.7em;
    }
    #email {
        margin-right: 3.5em;
    }
    #password {
        margin-right: 2.1em;
    }
    body {
        font-size: small;
    }
}
