<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/security-admin.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/auth.css">
    <title>Auth Section</title>
</head>
<body>
    <!-- login section -->
    <section class="back login__form active" data-tilt>
        <h2>WELCOME BACK !</h2>
        <p>Don't have an account? <a href="#" id="signUp">Sign Up</a></p>
        <form action="{{ url_for('auth') }}" method="post">
            <input type="hidden" name="form_type" value="login">
            <div>
                <label for="email" class="form-label email">Email</label>
                <input type="text" name="email" id="email" placeholder="www.bussiness@example.com">
            </div>
            <div>
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" placeholder="password">
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
        <div class="other-sign">
            <p class="mt-5 text-center">Or Sign in with social platforms</p>
            <div class="icon-container">
                <img class="icon" src="../static/images/facebook.png" alt="">
                <img class="icon" src="../static/images/twitter.png" alt="">
                <img class="icon" src="../static/images/telegram.png" alt="">
            </div>
        </div>
    </section>

    <!-- register section -->
    <section class="back register register__form" data-tilt>
        <h2>JOIN US! </h2>
        <p>Already have an account? <a href="#" id="signIn">Sign In</a></p>
        <form action="{{ url_for('auth') }}" method="post">
            <input type="hidden" name="form_type" value="register">
            <div>
                <label for="fullname" id="fullname" class="form-label">Full name</label>
                <input type="text" name="fullname" placeholder="name">
            </div>
            <div>
                <label for="phone" class="form-label">Phone number</label>
                <input type="number" name="phone" id="phone" placeholder="phonenumber">
            </div>
            <div>
                <label for="email" id="email" class="form-label">Email</label>
                <input type="email" name="email" placeholder="www.bussiness@example.com">
            </div>
            <div>
                <label for="password" id="password" class="form-label">Password</label>
                <input type="password" name="password" placeholder="password">
            </div>
            <button type="submit" class="btn">Sign Up</button>
        </form>
        <div class="other-sign">
            <p class="mt-5 text-center">Or Sign up with social platforms</p>
            <div class="icon-container">
                <img class="icon" src="../static/images/facebook.png" alt="">
                <img class="icon" src="../static/images/twitter.png" alt="">
                <img class="icon" src="../static/images/telegram.png" alt="">
            </div>
        </div>
    </section>

    <!-- flask addon -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function() {
                {% for category, message in messages %}
                    {% if category == 'danger' %}
                        alert("{{ message }}");
                    {% endif %}
                {% endfor %}
            });
        </script>
    {% endif %}
    {% endwith %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="../static/js/vanilla-tilt.js"></script>
    <script src="../static/js/auth.js"></script>
</body>
</html>
